@font-face {
    font-family: antiga;
    src: url(Antiga-Regular.woff);
  }


@font-face {
    font-family: bagerich;
    src: url(Bagerich.ttf);
  }

@font-face {
    font-family: grotesklight;
    src: url(FoundersGrotesk-Light.otf);
  }

  @font-face {
    font-family: groteskmed;
    src: url(FoundersGrotesk-Medium.otf);
  }  

  @keyframes animate
{
    0%
    {
        transform: translateX(0);
    }
    100%
    {
        transform: translateX(-100%);
    }
}

body {
    margin: 0;
}

.mini2 {
    font-size: 20px;
    font-family: "bagerich";
    /* margin-left: 125px;
    margin-right:125px; */
}

.mini  {
    font-size: 15px;
    font-family: "grotesklight";
    text-align: right;
    /* margin-left: 125px;
    margin-right:135px; */
    margin-top: -0.5vh;
}

.mini span {
    font-family: "groteskmed";
}

.video { 
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: hidden;
}

.flex-container-top {
    display: flex;
    color: white;
    /* height: 100vh; */
    flex-wrap: wrap;
  }
  .flex-item1 {
    margin-top: 25px;
    font-size: 14px;
    font-family: "grotesklight";
    width: 20%;
    margin-left: 5%;
    text-align: left;
  }
  .flex-item2 {
    margin-top: 130px;
    text-align: center;
    font-size: 10.7vw;
    font-family: "antiga";
    width: 50%;
  }

  .flex-item2:after {
    content: "";
    display: inline-block;
    width: 100%;
  }

  .flex-item3 {
    margin-top: 25px;
    font-size: 14px;
    font-family: "grotesklight";
    width: 20%;
    margin-right: 5%;
    text-align: right;
  }

  .flex-item3 span {
      font-family: "groteskmed";
  }

  .flex-item4{
    font-family: "groteskLIGHT";
    position: absolute;
    object-fit: cover;
    white-space: nowrap;
    bottom: 0;
    margin-bottom: 25px;
    color: white;
    width: 100vw;
    font-size: 14px;
    vertical-align: bottom;
    animation: animate 60s linear infinite; direction: ltr;
    overflow-x: hidden;

  }

  .flex-item1 span{
      font-family: "groteskmed";
  }
   

    
  .flex-item-lateral {
      width: 50%;
      text-align: right;

  }

  .vertical {
    font-size: 14px;
    margin: 0;
    writing-mode: vertical-lr;
    text-align: center;
    line-height: .9;
  }

  @media (max-width: 500px) {
    .flex-item3 {
        white-space: nowrap;
        font-size: 8px;
    }
    .mini2{
        font-size: 15px;
    }
    .flex-item4 {
        animation: none
      }
    .flex-item1 {
        white-space: nowrap;
        font-size: 8px;
    }
      
}
  
