.botones{

    opacity: 1;
    color: white;
    padding: 2% 4%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-inline: 8%;
    font-family: "bahn";
    font-size: 13px;
  
    
  }

  .video { 
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: hidden;
}

  .flex-item6{
    margin-top: 15%;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
    
  }
  .logo {
    margin-top: 15%;
    margin-bottom: 50%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    
  }

  @font-face {
    font-family: bahn;
    src: url(BAHNSCHRIFT\ 8.TTF);
  }

  @font-face {
    font-family: bahnlight;
    src: url(BAHNSCHRIFT\ 2.TTF);
    font-weight: 50 
  }

  @media (max-width: 500px) {
   
    .logo{
      display: none;
  }

    .flex-item6{
      margin-top: 75%;
  }
  
    
  
      
  }
