@font-face {
    font-family: antiga;
    src: url(Antiga-Regular.woff);
  }


@font-face {
    font-family: bagerich;
    src: url(Bagerich.ttf);
  }

@font-face {
    font-family: grotesklight;
    src: url(FoundersGrotesk-Light.otf);
  }

@font-face {
    font-family: groteskmed;
    src: url(FoundersGrotesk-Medium.otf);
  } 


@keyframes animate
{
    0%
    {
        transform: translateX(0);
    }
    100%
    {
        transform: translateX(-100%);
    }
    {
        animation-iteration-count: infinite
    }
}

body {
    margin: 0;
}

.mini2 {
    font-size: 20px;
    font-family: "bagerich";
    /* margin-left: 125px;
    margin-right:125px; */
}

.mini  {
    font-size: 15px;
    font-family: "grotesklight";
    text-align: right;
    /* margin-left: 125px;
    margin-right:135px; */
    margin-top: -1vh;
}
.mini span {
    font-family: "groteskmed";
}
.video { 
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: hidden;
}

.flex-container-top {
    display: flex;
    color: white;
    height: 100vh;
    flex-wrap: wrap;
  }
  .flex-item1 {
    margin-top: 25px;
    font-size: 14px;
    font-family: "grotesklight";
    width: 26%;
    margin-left: 5%;
    text-align: left;
  }
  .flex-item1 span {
    font-family: "groteskmed";
  }
  .flex-item2 {
    margin-top: 130px;
    text-align: center;
    font-size: 8vw;
    font-family: "antiga";
    width: 38%;
  }

  .flex-item2:after {
    content: "";
    display: inline-block;
    width: 100%;
  }

  .flex-item3 {
    margin-top: 25px;
    font-size: 14px;
    font-family: "grotesklight";
    width: 26%;
    margin-right: 5%;
    text-align: right;
  }

  .flex-item3 span {
      font-family: "groteskmed";
  }

  /* .flex-item4{
    font-family: "groteskLIGHT";
    position: absolute;
    object-fit: cover;
    white-space: nowrap;
    bottom: 0;
    margin-bottom: 25px;
    color: white;
    width: 100vw;
    font-size: 14px;
    vertical-align: bottom;
    overflow-x: hidden;
    /* animation: animate 30s linear infinite;   */

  
  .flex-item4 {
   
    object-fit: cover;
    vertical-align: bottom;
    bottom: 0;
    margin-bottom: 25px;
    margin-top: auto;
    font-size: 14px;
    font-family: "grotesklight";
    width: 45%;
    margin-left: 5%;
    text-align: left;
    color: white;
  }
  .flex-item4 span {
    font-family: "groteskmed";
  }
  
  .flex-item5 {
    
    object-fit: cover;
    vertical-align: bottom;
    bottom: 0;
    margin-bottom: 25px;
    margin-top: auto;
    font-size: 14px;
    font-family: "grotesklight";
    width: 45%;
    margin-right: 5%;
    text-align: right;
    color: white;
  }

  



  @media (max-width: 500px) {
    .flex-item3 {
        white-space: nowrap;
        font-size: 8px;
        width: 20%;
        margin-right: 5%;
        
    }
    .mini2{
        font-size: 15px;
    }
    .mini {
        font-size: 8px;
    }
    .flex-item4 {
        animation: none;
    }
    .flex-item1 {
        white-space: nowrap;
        font-size: 8px;
        width: 20%;
        margin-left: 5%;
    }
    
    .flex-item2 {
      margin-top: 130px;
      text-align: center;
      font-size: 10.7vw;
      font-family: "antiga";
      width: 50%;
    }

    .flex-item4 {
      font-size: 10px;
      width: 90%;
      text-align: center;
      margin-right: 5%;
      margin-top: 230px;

    
    }
    .flex-item5{
      font-size: 10px;
      width: 90%;
      text-align: center;
      margin-left: 5%;
      margin-top: -50px;

    }

   

    
}

@media (max-width: 300px) {
    .mini2{
        display: none;
    }
}
  
