
@font-face {
    font-family: grotesklight;
    src: url("FoundersGrotesk-Light.otf") format("opentype");
  }

@font-face {
    font-family: groteskmed;
    src: url("FoundersGrotesk-Medium.otf") format("opentype");
  } 

.body {
 margin: 0;

  
}
.botones{

    opacity: 1;
    color: white;
    padding: 2% 4%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-inline: 2%;
    font-family: "grotesklight";
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    transition: 0.3s;
    padding: 5px 10px 5px 10px;

  
    
  }

  .botonmail{

    opacity: 1;
    color: white;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-inline: 15px;
    font-family: "grotesklight";
    font-size: 30px;
   
    /*padding: 5px 10px 5px 10px;*/
    transition: 0.3s;

  
    
  }

.botonmail:hover, .botones:hover{
  background: white;
  color:black;
}

.white_line{
  whidht
}

  .video { 
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: hidden;
}

  .flex-item6{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    
    
  }

  .flex-item7{
    
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    
    
    
  }

  .logo {
    margin-top: 5%;
    margin-bottom: 3%;
    width: 35%;
   
    
  }

  
  .bottom_div{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    
    
  }
  .info {
    display: flex;
    color: white;
    height: 30px;
    /*flex-wrap: wrap;*/
    align-content: flex-start;
    justify-content: center;
    font-family: "grotesklight";
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    width: 50%;
    position: fixed;
    bottom: 75px;
    left: 25%;
    letter-spacing: 2pt;
        
  }
  .info p{
    opacity: 1;
    color: white;
    
    text-align: center;
    text-decoration: none;
    display: contents;
    margin-inline: 2%;
    font-family: "grotesklight";
    font-size: 30px;
   
    padding: 5px 10px 5px 10px;
    transition: 0.3s;
   
     }
  @font-face {
    font-family: bahn;
    src: url(BAHNSCHRIFT\ 8.TTF);
  }

  @font-face {
    font-family: bahnlight;
    src: url(BAHNSCHRIFT\ 2.TTF);
    font-weight: 50 
  }

  @media (max-width: 500px) {
   
    .logo{
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 10%;
      margin-top: 20%;
  }

  .info {
    
    font-size: 20px;
    margin-top: 0%;
      
  }

  .botonmail{

  
    font-size: 20px;
  
    
  }

  .botones{

    font-size: 15px;
   
  
  }

  .flex-item6{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    
    
  }
