@font-face {
    font-family: antiga;
    src: url(Antiga-Regular.woff);
  }
  @font-face {
    font-family: bahn;
    src: url(BAHNSCHRIFT\ 8.TTF);
  }

  @font-face {
    font-family: bahnlight;
    src: url(BAHNSCHRIFT\ 2.TTF);
    font-weight: 50 
    
  }


@font-face {
    font-family: bagerich;
    src: url(Bagerich.ttf);
  }

@font-face {
    font-family: grotesklight;
    src: url(FoundersGrotesk-Light.otf);
  }

@font-face {
    font-family: groteskmed;
    src: url(FoundersGrotesk-Medium.otf);
  } 


@keyframes animate
{
    0%
    {
        transform: translateX(0);
    }
    100%
    {
        transform: translateX(-100%);
    }
    {
        animation-iteration-count: infinite
    }
}

body {
    margin: 0;
}

.mini2 {
    font-size: 20px;
    font-family: "bagerich";
    /* margin-left: 125px;
    margin-right:125px; */
}

.mini  {
    font-size: 15px;
    font-family: "grotesklight";
    text-align: right;
    /* margin-left: 125px;
    margin-right:135px; */
    margin-top: -1vh;
}
.mini span {
    font-family: "groteskmed";
}
.video { 
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: hidden;
}
.flex-container-ring {
  display: flex;
  color: white;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
}

.flex-info {
  background-color: black;
  display: flex;
  color: white;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
}

.info {
  display: flex;
  color: white;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  font-family: "groteskmed";
  font-size: 15px;
  width: 75%;
  margin-bottom: 20PX;
  text-shadow: 1px 1px 7px #00000082;
}

.infomagma {
  display: flex;
  color: #4fef0c;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  font-family: "bahn";
  font-size: 15px;
  width: 75%;
  
  margin-bottom: 20PX;
}
.infotitulo {
  display: flex;
  color: white;
  flex-wrap: wrap;
  align-content: center;
  font-family: "bahn";
  font-size: 18px;
  width: 75%;
  margin-top: 50PX;
  margin-bottom: 20px;
}

.logocole {
  margin-top: 100px;
  margin-bottom: 50px;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
}
.spacer1 {
  width: 40%;
  font-family: "bahn";
  font-size: 20px;
  margin-bottom: 100px;
  margin-top: 100px;
  color: white;
  
}

.ethereal {
  font-family: "bahn";
  font-size: 20px;
  margin-bottom: 100px;
  color: white;
  width: 100%;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 150px;
}

.join {
  font-family: "bahn";
  font-size: 20px;
  margin-bottom: 100px;
  color: white;
  width: 20%;
  padding-left: 40%;
  padding-right: 40%;
  padding-top: 150px;
  align-content: center;
  text-align: center;
}

.ethereal span{
  font-family: "grotesklight";
  font-size: 20px;
  margin-bottom: 100px;
  color: white;
  width: 100%;
  padding-top: 150px;
}

.amulets {
  font-family: "bahn";
  font-size: 20px;
  margin-bottom: 150px;
  margin-top: 150px;
  color: white;
  width: 40%;
}

.amulets span {
  font-family: "grotesklight";
  font-size: 20px;
  margin: 0;
}

.nft {
width: 400px;
}

.antiga-ring {
  font-family: "antiga";
  font-size: 50px;
  margin-bottom: 8px;
}

.black-back {
  background-color: black;
}

.grotesk-ring {
  font-family: "bahnlight";
  font-size: 18px;
  margin: 0;
  margin-top: 40px;
}

.BAHNPRODUCT {
  font-family: "bahnlight";
  font-size: 13px;
  margin: 0;
  margin-top: 50px;
}

.bagerich-ring {
  font-family: "bagerich";
  font-size: 20px;
  margin-top: 40px;
}

.spacer {
  width: 100%;
  height: 200px;
}

.footer {
  width: 100%;
  height: 200px;
  background-color: black;
}

.button {
  
  opacity: 1;
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "bahn";
  font-size: 13px;
  margin-top: 15px;
}


.button1 {
  
  opacity: 1;
  border: 2px solid white;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "bahn";
  font-size: 13px;
  margin-top: 400px;
}

.CONTACT {
  
  opacity: 1;
  border: 2px solid white;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "bahn";
  font-size: 13px;

  margin-bottom: 100PX;
}


.flex-ring-item2 {
  width: 40%;
}

.flex-ring-item1 {
  width: 40%;
}

.flex-container-top {
    display: flex;
    color: white;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
  }
  .flex-item1 {
    margin-top: 25px;
    font-size: 14px;
    font-family: "bahn";
    width: 26%;
    margin-left: 5%;
    text-align: left;
  }
  .flex-item1 span {
    font-family: "bahn";
  }
  .flex-item2 {
    margin-top: 70px;
    text-align: center;
    font-size: 8vw;
    font-family: "antiga";
    width: 38%;
  }

  .flex-item2:after {
    content: "";
    display: inline-block;
    width: 100%;
  }

  .flex-item3 {
    margin-top: 25px;
    font-size: 14px;
    font-family: "bahn";
    width: 26%;
    margin-right: 5%;
    text-align: right;
  }

  .flex-item3 span {
      font-family: "bahn";
  }

  /* .flex-item4{
    font-family: "groteskLIGHT";
    position: absolute;
    object-fit: cover;
    white-space: nowrap;
    bottom: 0;
    margin-bottom: 25px;
    color: white;
    width: 100vw;
    font-size: 14px;
    vertical-align: bottom;
    overflow-x: hidden;
    /* animation: animate 30s linear infinite;   */

  
  .flex-item4 {
   
    object-fit: cover;
    vertical-align: bottom;
    bottom: 0;
    margin-bottom: 25px;
    margin-top: auto;
    font-size: 14px;
    font-family: "bahn";
    width: 45%;
    margin-left: 5%;
    text-align: left;
    color: white;
  }
  .flex-item4 span {
    font-family: "groteskmed";
  }
  
  .flex-item5 {
    
    object-fit: cover;
    vertical-align: bottom;
    bottom: 0;
    margin-bottom: 25px;
    margin-top: auto;
    font-size: 14px;
    font-family: "BAHN";
    width: 45%;
    margin-right: 5%;
    text-align: right;
    color: white;
  }

  

  

  @media (max-width: 500px) {

    .flex-ring-item1{
      width: 70%;
    }

    .amulets {
      font-family: "bahn";
      font-size: 15px;
      margin-bottom: 70px;
      margin-top: 70px;
      color: white;
      width: 40%;
    }

    .flex-ring-item2 {
      width: 70%;
      margin-top: 50px;
      font-size: 7px;
    }

    .button1 {
      
      opacity: 1;
      border: 2px solid white;
      color: white;
      padding: 8px 15px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-family: "bahn";
      font-size: 10px;
      margin-top: 300px;
    }
    
    .join {
      font-family: "bahn";
      font-size: 20px;
      margin-bottom: 200px;
      color: white;
      width: 40%;
      padding-left: 30%;
      padding-right: 30%;
      padding-top: 150px;
      align-content: center;
    }
    .nft {
      width: 270px;
  }
    
    .flex-item3{
      font-size: 7px;
        width: 20vw;
        margin-right: 5vw;
    }

    .mini2{
        font-size: 15px;
    }
    .mini {
        font-size: 8px;
    }
    .flex-item4 {
        animation: none;
    }
    .flex-item1 {  
        font-size: 7px;
        width: 20vw;
        margin-left: 5vw;
    }
    
    .flex-item2 {
      margin-top: 130px;
      text-align: center;
      font-size: 10.7vw;
      font-family: "antiga";
      width: 50vw;
    }

    .flex-item4 {
      font-size: 8px;
      margin-top: 100px;
      overflow: hidden;
    
      

    
    }
    .flex-item5{
      font-size: 7px;
      margin-top: 100px;
      overflow: hidden;
      
    }

  

   

    
}

@media (max-width: 300px) {
    .mini2{
        display: none;
    }
}
  
